<script type="text/javascript">
	var current = 1;
	
	function addElement() {
		current++;
		var strToAdd = '<tr><td><select name="art'+current+'" id="art'+current+'"><option>Transport</option><option>Verpflegung</option><option>Unterkunft</option><option>Arbeitskleidung</option></select></td><td><input type="text" name="bet'+current+'" id="bet'+current+'" /> </td>	</tr>';
		$('#pos').append(strToAdd);
	}
	
	function zahl() {
		if (document.getElementById('bet1').value < "0" || "99999" < document.getElementById('bet1').value)  {
			document.getElementById('submitButton').disabled = true;
		}else{
			document.getElementById('submitButton').disabled = false;
		}
	}
	
	$(function() {
		$("#datepicker").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear:true });
	});
</script>


 
{{MESSAGE}} 
{{ACTION_FIELD}}
{{SPESEN}}


<h4>Neue Spesen erfassen</h4>
<form action="index.php?action=index" method="POST">
	<table>
		<tr>
			<td>Mitarbeiter</td>
			<td>{{USER}}</td>
		</tr>
		<tr>
			<td>Datum</td>
			<td><input type="text" id="datepicker" name="date" /></td>
		</tr>
	</table>
	Spesenpositionen:
	<table id="pos" name="pos">
		<tr><td>Spesenart</td><td>Betrag</td> </tr>
		<tr><td><input type="button" value="weitere Spesenposition einfügen" onclick="addElement()" /><td></td></td></tr>
		<tr>
			<td>
				<select name="art1" id="art1">
					<option>Transport</option>
					<option>Verpflegung</option>
					<option>Unterkunft</option>
					<option>Arbeitskleidung</option>
				</select>
			 </td>
			<td><input type="text" id="bet1" name="bet1" onKeyUp="zahl()"/> </td>
		</tr>
	</table>
	<input type="submit" value="Spesen eintragen" name="submitSpesen" id="submitButton" />
</form>
 


