<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de-ch">
	<head>
		<title>Spesen</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index,follow" />
		<meta name="author" content="Mueller Lukas" />
		<meta name="generator" content="selfmade" />
		<meta name="Keywords" content="i don not need keywords ;)" />
		<meta name="description" content="Spesentool f&uuml;r die Schule" />
		<link rel="stylesheet" type="text/css" href="./html/style.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="./html/jquery-ui-1.10.3.custom.css" media="screen" />
		<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
		<script type="text/javascript" src="./js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="./js/jquery-ui-1.10.3.custom.js"></script>
		<script type="text/javascript" src="./js/functions.js"></script>
	</head>
	<body>
		<div id="wrapper">
		<table id="nav">
			<tr><td>Spesen</td>
			{{NAVIGATION}}
		</table>
			<div id="content">
				<div id="name"> {{USERNAME}} </div>
				<h3>{{SITE}}</h3>
				{{CONTENT}}
			</div>
			
			<div id="footer">
				&copy; 2013 Lukas M&uuml;ller</a>
				<br />
			</div>
		</div>
	</body>
</html>
