{{SAVE_MSG}}
<form action="index.php?action=useradd" method="POST">
	<table>
		<thead>
			<tr>
				<th>Username*</th>
				<th>Vorname*</th>
				<th>Nachname*</th>
				<th>Funktion</th>
			</tr>
		</thead>
		<tbody>
		<tr class = "no_hover">
			<td> <input type="text" 	name="username" 	value="{{val_username}}"	id="username" 	maxlength="1024"	class="input" /> </td>
			<td> <input type="text" 	name="surName"		value="{{val_surName}}"		id="surName" 	maxlength="1024" 	class="input" /> </td>
			<td> <input type="text" 	name="givenName"	value="{{val_givenName}}"	id="givenName" 	maxlength="1024" 	class="input" /> </td>
			<td> <input type="text" 	name="funktion"		value="{{val_funktion}}"	id="funktion" 	maxlength="1024" 	class="input" /> </td>
			<td> <input type="checkbox"	name="admin"		{{checked}}				id="admin"						 	class="input" /></td>
		</tr>
		</tr>
		</tbody>
	</table>
	<br />
	<input type="submit" value="add user" name="submitUser" />
</form>
</p>
<br />
