{{SAVE_MSG}}

<form action="index.php?action=useredit&id={{EDIT_USER_ID}}" method="POST">
	<table>
		<thead>
			<tr>
				<th>Username</th>
				<th>Vorname</th>
				<th>Nachname</th>
				<th>Funktion</th>
				<th>Admin</th>
			</tr>
		</thead>
		<tbody>
			<tr class="no_hover">
				<td> <input type="text" 	name="username" 	id="username" 	maxlength="1024"	class="input" 	value="{{USERNAME}}" /> </td>
				<td> <input type="text" 	name="surName"		id="surName" 	maxlength="1024" 	class="input"  	value="{{surName}}"	 />	</td>
				<td> <input type="text" 	name="givenName"	id="givenName" 	maxlength="1024" 	class="input"  	value="{{givenName}}" /></td>
				<td> <input type="text"		name="funktion"		id="funktion" 	maxlength="1024" 	class="input"  	value="{{funktion}}"/>	</td>
				<td> <input type="checkbox"	name="admin"		id="admin"		maxlength="2048" 	class="input" 	{{checked}}			/ >	</td>
			</tr>
		</tbody>
	</table>
	<input type="submit" value="edit user" name="submitInfo" />
</form>


<br /> 
<br /> 
<h4>Password ändern</h4>
<form action="index.php?action=useredit&id={{EDIT_USER_ID}}" method="POST">
	<table>
		<tr class="no_hover">
			<td>Neues passwort</td>
			<td><input type="password" name="pw1" id="pw2" maxlength="{{MAX_PW_LENGTH}}" size="{{MAX_PW_LENGTH}}" class="input" /></td>
		</tr>
		<tr class="no_hover">
			<td>Neues Passwort wiederholen</td>
			<td><input type="password" name ="pw2" id="pw2" maxlength="{{MAX_PW_LENGTH}}" size="{{MAX_PW_LENGTH}}" class="input" /></td>
		</tr>
	</table>
	<input type="submit" value="Passwort setzen" name="submitPassword" />
</form>
