<div class="text_center center">
	{{SAVE_MSG}}
	<a href="index.php?action=useradd"><button>Add new user</button></a>
	<br />
	<br />
	<form name="deleteform" id="deleteform" action="index.php?action=userdelete" method="POST">	
		{{USER_TABLE}}
		<input type="hidden" id="userid" name="userid" value="" />
	</form>
</div>
